# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Pytest cache
.pytest_cache/
.tox/
.nox/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyCharm
.idea/

# VS Code
.vscode/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Flask and Django specific files
instance/
.webassets-cache
.scrapy

# dotenv
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific
*.swp
*~
.project
.pydevproject

# macOS specific
.DS_Store

# Logs
*.log

# Docker
*.log
Dockerfile
docker-compose.yml
*.env
